{% extends 'base.html' %}

{% block content %}

<!------------------- Login ------------------------->
<div class="container" style="width: 90vh; height: 100vh; margin: 0 auto; position: relative; padding: 100px;">

  <h2> Login </h2>

  <form action="/login" method="POST">

    <!-- Flash Message -->
    {% for msg in get_flashed_messages() %}
      <div class="flash-msg" class="alert alert-light" role="alert">
        {{ msg }}
      </div>
    {% endfor %}

    <!-- Email input -->
    <div class="form-floating mb-3">
      <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>

    <!-- Password Input -->
    <div class="form-floating">
      <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <p><input type="submit"></p>
    
  </form>

    <!-- Link to create account -->
    <a href="/create_account"> Create Account </a>
</div>
{% endblock %}